.options {
  font-size: 1.25em;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2px;
}
.content {
  margin: 0 auto;
  width: 90%;
}
.option {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.options-title {
  text-align: center;
  font-size: 1.5em;
  text-shadow: 0 2px 2px rgb(11, 41, 46);
  margin: 0 auto;
  margin-top: 8px;
  user-select: none;
}
.options-title2 {
  width: fit-content;
  text-align: center;
  margin: auto;
  font-size: 1.25em;
  text-shadow: 0 2px 2px rgb(11, 41, 46);
  user-select: none;
}
.option-label {
  font-size: 1.2em;
  word-wrap: break-word;
  user-select: none;
}
.option-checkbox {
  font-size: 1.25em;
  cursor: pointer;
  margin: 5px 8px;
  display: inline-block;
}
#status {
  font-size: .88rem;
  margin: auto;
  text-align: center;
  opacity: .6;
  margin-top: 4px; 
}
.save-btn {
  background: rgb(255, 255, 255, .9);
  border: 0;
  border-radius: 5px;
  padding: 6px 0;
  width: 50%;
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px auto 8px auto; 
  display: block;
  cursor: pointer;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  width: 15px;
  height: 15px;
  padding: 0px;

  background-clip: content-box;
  border: 1.5px solid #bbbbbb;
  background-color: #f1eff1;
  margin-right: 5px;
}
input[type=checkbox]:checked {
    background-color: #84be5d;
}

input[type=checkbox]:focus {
    outline: none !important;
}

.username-colors {
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.username-colors-title {
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto;
  user-select: none;
}